* {
    box-sizing: border-box;
}

textarea {
  width: 75%;
}

h2 {
  background-color: #800000;
  color: #d9d9d9;
  padding: 2em;
}

.input {
  width: 33%;
}

#admincomment {
  width: 30%;
  float: left;
  padding-left: 6px;
}

#comments {
  font-size: 14px;
}

#deletereactions {
    display: inline;
}

#createscreen {
  padding-left: 6px;
}

#showscreen {
  padding-left: 6px;
}

body {
  margin: 0px;
}

button {
  background-color: #800000;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  margin-top: 4px;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 0px;
  text-align: left;
  margin-left: 3px;
}

.title {
  padding-left: 8px;
  font-size: 20px;
}

.timestamp {
  padding-left: 10px;
  font-size: 10px;
}

.bodytext {
  padding-left: 8px;
  margin-top: 0px;
  width: 25%;
}

.category {
  padding-left: 8px;
  font-size: 12px;
}
