* {
    box-sizing: border-box;
}

a {
  color: #800000;
  text-decoration: underline;
}

h2 {
  background-color: #800000;
  color: #d9d9d9;
  padding: 2em;
}

h3 {
  background-color: 	#867979;
  padding: 1em;
  color: white;
}



body {
  margin: 0px;
}

button {
  background-color:	#800000;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  margin-top: 2px;
  margin-left: 2px;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 0px;
  text-align: left;
  border-radius: 2px;
}
.menubutton {
  width: 100%;
}

.title {
  padding-left: 8px;
  font-size: 20px;
}

.timestamp {
  padding-left: 10px;
  font-size: 10px;
}

.bodytext {
  padding-left: 8px;
  margin-top: 0px;
}

.category {
  padding-left: 8px;
  font-size: 12px;
}


.admincomment {
  padding-left: 6px;
}

.comments {
  color: #800000;
  font-size: 14px;
  padding: 4px;
}


#deletereactions {
  display: inline;
}

#createscreen {
  padding-left: 6px;
  padding-right: 6px;
}

#showscreen {
  padding-left: 6px;
  padding-right: 6px;
}

#menu {
  float: left;
  width: 15%;
}

#main2 {
  margin-left: 17%;
}

#editfield {
  display: none;
}

.fa.fa-trash {
  background-color: white;
  color: gray;
  border: 1px solid gray;
}

.alternativebutton {
  background-color: white;
  color: gray;
  border: 1px solid gray;
}

#search{
  width: 75%;
}

.fa.fa-search {
  background-color: white;
  color: gray;
  border: 1px solid gray;
  font-size: 15px;
  border-radius: 4px;
  padding-left: 2px;
  float: right;
}

.dropbtn {
    background-color: #d9d9d9;
    color: black;
    font-size: 14px;
    border: none;
    width: 100%;
    outline:none;
}
.dropbtn:hover {
  cursor: default;
  border: solid white 0px;
}

@media  (max-width: 768px) {
  #menu {
  width: 100%;
  }

  #searchoptions {
    width: 100%;
  }

  #main2 {
    margin-left: 0px;
  }

  /* Dropdown */
.dropbtn {
  background-color: #d9d9d9;
  font-size: 14px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropbtn:hover {
  cursor: default;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}



}

@media  (max-width: 768px) {
  #menu {
    display: none;
  }

  #searchoptions {
    width: 100%;
  }

  #main2 {
    margin-left: 0px;
  }


}
