* {
    box-sizing: border-box;
}

a {
  color: #800000;
  text-decoration: underline;
}

h2 {
  background-color: #800000;
  color: #d9d9d9;
  padding: 2em;
}

h3 {
  background-color: #800000;
  padding: 1em;
  color: #d9d9d9;
}



body {
  margin: 0px;
}

button {
  background-color: #800000;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  margin-top: 2px;
  margin-left: 2px;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 0px;
  text-align: left;
}
.menubutton {
  width: 100%;
}

.title {
  padding-left: 8px;
  font-size: 20px;
}

.timestamp {
  padding-left: 10px;
  font-size: 10px;
}

.bodytext {
  padding-left: 8px;
  margin-top: 0px;
}

.category {
  padding-left: 8px;
  font-size: 12px;
}


.admincomment {
  padding-left: 6px;
}

.comments {
  color: #800000;
  font-size: 14px;
  padding: 4px;
}


#deletereactions {
  display: inline;
}

#createscreen {
  padding-left: 6px;
  padding-right: 6px;
}

#showscreen {
  padding-left: 6px;
  padding-right: 6px;
}

#menu {
  float: left;
  width: 15%;
}

#main2 {
  margin-left: 17%;
}
